.jumbotron {
  text-align: center;
}

.input {
  border: 2px dotted black;
  text-align: center;
}

.results-display {
  display: none;
  border: 2px dotted darkblue;
  text-align: center;
}

.results-display h3 {
  text-decoration: underline;
}

#results-display-span {
  font-size: 24px;
  text-shadow: 1px 1px 4px;
}